@import "https://fonts.googleapis.com/css?family=Lato";

body{
    text-align: center;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #484848;
    margin-top: 50px;
}

main p{
    width: 55%;
    color: gray;
    margin: auto;
    margin-bottom: 60px;
}

article{
    display: inline-block;
}

i{
    color: tomato;
}

article img{
    display: block;
    margin-right: 20px;
    margin-bottom: 40px;
}

article h2{
    margin-bottom: 5px;
}

article p{
    margin-bottom: 0;
}

h2, h3{
    color: #484848;
}