body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background-color: #153549;
}

nav ul {
    margin: 0;
    line-height: 50px;
}

nav li a{
    text-decoration: none;
    color: #157c73;
}

nav li {
    padding: 10px;
    list-style: none;
    display: inline;
    text-transform: uppercase;
}

header {
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 50px;
}

header h3 {
    color: #157c73;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}

header p {
    color: gray;
    font-size: 16px;
}

.nav-title {
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    color: #157c73;
}

.section-title {
    text-transform: uppercase;
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.article-title {
    font-weight: 300;
    color: #157c73;
}

header button {
    background: none;
    border: solid #ffffff 1px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 40px;
    padding: 20px 30px;
    font-size: 16px;
    text-transform: uppercase;
}

header button:hover {
    cursor: pointer;
    color: #157c73;
    background-color: #ffffff;
}

main {
    background-color: #ffffff;
    margin-top: 70px;
    border: solid gray 1px;
}

main section {
    display: inline-block;
}

main section article {
    margin: 30px;
    width: 260px;
    height: 400px;
    padding-left: 60px;
}

main section article img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

main section article p {
    color: gray;
}

footer {
    line-height: 20px;
    height: 60px;
    margin-top: 40px;
}

footer nav ul {
    list-style: none;
    float: right;
}

footer nav li {
    display: inline;
    font-size: 16px;
}

footer nav li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: none;
}

footer h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    float: left;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v13/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v13/GtRkRNTnri0g82CjKnEB0Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}