@import "https://fonts.googleapis.com/css?family=Montserrat";

body{
    background-color: lightgrey;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

article{
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.75);
    width: 24%;
    margin: auto;
    padding: 10px 10px;
    margin-top: 150px;
}

#heading{
    background-color: lightgrey;
}

#heading h1{
    font-size: 1.8em;
    text-transform: uppercase;
    color: #484848;
    margin: 0;
    padding-top: 30px;
}

#heading h2{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    color: gray;
    padding: 5px 0 7px;
}

#price h3{
    font-size: 2em;
    color: #484848;
}

#price h4{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.9em;
    color: #484848;
}

#offers ul{
    padding: 0;
}

#offers li{
    list-style: none;
}

#offers a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #787878;
}

#button button{
    background-color: black;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    padding: 10px 30px;
}